numpy
pandas
matplotlib
scipy
statsmodels
seaborn
nltk
TextBlob
spacy
scikit-learn
TA-Lib
pynance
plotly
mplfinance
jupyterlab
yfinance
requests
gdown
gensim
python-dateutil
tqdm
ipywidgets
openpyxl
missingno